$color--form-title: #575153;

aside {
  max-width: 960px;
  margin: 0 auto;
  @media screen and (min-width: 640px) {
    max-width: 630px;
  }
  h3 {
    color: $color--form-title;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  h4 {
    color: $color--form-title;
  }
  .need-help {
    padding: 1rem;
    margin-bottom: 60px;
    color: #8e8c8c;
    h4 {
      color: #00c8c8;
      text-transform: uppercase;
    }

    span {
      color: #00c8c8;
    }

    .help-number {
      font-weight: 700;
    }
  }
}

.client-sign-up {
  padding: 1rem;
  // min-width: 610px;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1.5rem;

  label {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #999;
    display: block;
  }

  input,
  select {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #444;
    width: 100%;
    padding: 0.25rem 0.5rem;
  }

  input[type="radio"] {
    width: 2rem;
    background: #fff;
  }

  textarea {
    resize: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 185px;
    min-height: 185px;
    transition: 0.15s ease-in;
    padding: 0.5rem;
    &:hover {
      transition: 0.15s ease-in;
      background: darken(#fff, 5%);
    }
  }

  .radio {
    display: flex;
    // justify-content: center;
    align-items: center;

    .label {
      display: inline;
    }

    .dot {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 2rem;
      border-radius: 50%;
      border: 1px solid grey;
      width: 2rem;
      min-width: 2rem;
      min-height: 2rem;
      margin-right: 15px;
    }
  }

  .dot-view {
    width: 45%;
    height: 45%;
    border-radius: 50%;
    background: grey;
  }

  .sign-up-categories {
    h4 {
      margin-bottom: 1.25rem;
    }
  }

  .check-layout {
    display: flex;
    flex-wrap: wrap;
    min-width: 545px;
  }
  .check-item {
    font-size: 15px;
    flex-basis: 33%;
    display: flex;
    align-items: center;
    color: #8e8c8c;
    margin-bottom: 10px;
  }

  .checkbox {
    width: 25px;
    border: 1px solid #dbdbdb;
    height: 25px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s ease-in;

    &:hover {
      transition: 0.1s ease-in;
      background: darken(#fff, 5%);
    }
    .checked {
      text-align: center;
      width: 20px;
      opacity: 0;
    }
  }

  .preferences {
    h4 {
      margin-bottom: 1.25rem;
    }
  }

  .preference-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .preference-item {
    flex-basis: 50%;
    margin-bottom: 15px;
    select {
      width: calc(100% - 15px);
    }
    // width: calc(50% - 15px);
  }

  .fine-print {
    font-family: $montserrat, sans-serif;
    color: #8e8c8c;
    font-size: 15px;
    font-weight: 300;
    @media screen and (min-width: $screen-md) {
      font-family: $roboto, sans-serif;
    }
  }

  .create-account {
    button {
      font-family: "Montserrat";
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
      border: 2px solid black;
      background: #fff;
      padding: 20px 30px;
      margin-bottom: 2rem;
      transition: 0.2s ease-in;
      &:hover {
        transition: 0.2s ease-in;
        background: darken(#fff, 20%);
        cursor: pointer;
      }
    }
    p {
      color: #8e8c8c;
      font-size: 15px;
      max-width: 480px;
    }

    span {
      color: #00c8c8;
      font-weight: 700;
    }

    a,
    a:visited {
      color: #00c8c8;
      text-decoration: none;

      &:hover {
        color: darken(#00c8c8, 10%);
      }
    }
  }
}

@media (min-width: 720px) {
  .client-sign-up {
    grid-column-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "first last"
      "email email"
      "password confirm-pw"
      "email-freq phone"
      "fine-print fine-print"
      "msg msg"
      "check check"
      "pref pref"
      "create create";

    input,
    select {
    }

    .first-name {
      grid-area: first;
    }

    .last-name {
      grid-area: last;
    }

    .email {
      grid-area: email;
    }

    .password {
      grid-area: password;
    }

    .password-confirm {
      grid-area: confirm-pw;
      select {
        appearance: none;
        -webkit-appearance: none;
      }
    }

    .email-frequency {
      grid-area: email-freq;
    }

    .phone-number {
      grid-area: phone;
    }

    .fine-print {
      grid-area: fine-print;
    }

    .message-box {
      grid-area: msg;
    }

    .sign-up-categories {
      grid-area: check;
    }

    .preferences {
      grid-area: pref;
    }

    .create-account {
      grid-area: create;
      display: flex;
      justify-content: space-between;
      // align-items: center;
      p {
        font-size: 15px;
      }
      @media screen and (min-width: 640px) {
        p {
          max-width: 220px;
        }
      }
    }
  }
}
