
.award-tile {
  text-transform: uppercase;
  width: 400px;
  height: 140px;
  color: #fff;
  background: #333333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.social-tile {
  width: 400px;
  height: 140px;
  background: #00c8c8;
  svg {
    color: #fff;
    width: 15px;
  }
}

.social-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    margin-right: 40px;
    &:last-of-type{
      margin-right: 0;
    }
  }
}