.page-header {
  padding: 8rem 0;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background:  linear-gradient(rgba(58, 58, 58, 0.849), rgba(87, 87, 87, 0.493)),  url(../img/page-header.jpg)  center / cover ;
}

.header-title {
  font-size: calc(2rem + 2vw);
  font-weight: 300;
  span {
    font-weight: 700;
  }
}

.header-tagline {
  font-size: calc(1.2rem + 1vw);
}