.site-nav {
  padding: 1rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-items {
  display: flex;
  justify-content: space-between;

  .nav-link,
  .nav-link:visited {
    font-family: $montserrat;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
    &:hover {
      color: #00c8c8;
    }
  }
}

.menu-icon {
  width: 1.5rem;
}

.icon-view {
  background: white;
  position: absolute;
  top: 60px;
  padding: 0.5rem 5rem;
  left: -100vw;
  width: 100%;
  border-bottom: 1px solid #000;
  box-shadow: 0 0 5px 0 grey;
  text-align: right;

  li {
    margin-bottom: 0.5rem;
  }
}
.list-view {
  display: none;
}

.avenue-fashion {
  font-size: 1.25rem;
  font-weight: bolder;
  color: #333;

  span {
    font-weight: 700;
    color: #777;
  }
}

@media screen and(min-width: $screen-md) {
  .site-nav {
    min-height: 75px;
  }
  .avenue-fashion {
    font-size: calc(0.5rem + 1vw);
    min-width: 120px;
  }
  .menu-icon {
    display: none;
  }

  .nav-items {
    justify-content: space-between;
    align-items: center;
  }
  .list-view {
    display: flex;
    // justify-content: space-between;
    .nav-link {
      font-weight: 400;
      margin: 0 0.75rem 0 0;
      font-size: calc(0.5rem + 0.25vw);
    }
  }
}

@media screen and (min-width: $screen-lg) {
  .site-nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  .avenue-fashion {
    h1 {
      font-size: 18px;
    }
  }
  .nav-items {
    .nav-link {
      font-weight: 700;
      margin-right: 35px;
      font-size: 0.625rem;
      .last {
        margin-right: 0;
      }
    }
  }
}
